In [1]:
import sys
sys.path.append('data_quality_doctor')

from data_doctor import DataDoctor

In [2]:
list(dir(DataDoctor))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'assess_completeness',
 'assess_consistency',
 'assess_uniqueness',
 'clean_column_names',
 'configure_quality_check',
 'evaluate_data_quality',
 'find_critical_elements',
 'is_pii',
 'read_all_structured_files',
 'read_data_quality_template',
 'similar']

In [19]:
data_file_path = 'data/case_allocations.csv'
template_file_path = 'data/data_quality_checks_template.xlsx'

# Create an instance of DataDoctor
data_doctor = DataDoctor()

# Check if the template file exists, and create if it doesn't
data_doctor.configure_quality_check(data_file_path, template_file_path)

# Evaluate data quality based on the template
results = data_doctor.evaluate_data_quality(data_file_path, template_file_path)

File 'data/data_quality_checks_template.xlsx' already exists. Not overwriting.

/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:331: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  completeness_results = pd.concat([completeness_results, completeness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:348: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  uniqueness_results = pd.concat([uniqueness_results, uniqueness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:367: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consistency_results = pd.concat([consistency_results, consistency_df], ignore_index=True)

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,case_id,200,0,200,100.0
1,patient_id,200,0,200,100.0
2,provider_id,200,0,200,100.0
3,case_description,200,0,200,100.0
4,case_status,200,0,200,100.0

        Column Name Total Rows Unique Values Duplicate Values  Uniqueness (%)
0           case_id        200           200                0           100.0
1        patient_id        200           125               75            62.5
2       provider_id        200            91              109            45.5
3  case_description        200           200                0           100.0
4       case_status        200             3              197             1.5

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,case_id,200,200,0,100.0
1,patient_id,200,200,0,100.0
2,provider_id,200,200,0,100.0
3,case_description,200,200,0,100.0
4,case_status,200,200,0,100.0

In [20]:
results[0]

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,case_id,200,0,200,100.0
1,patient_id,200,0,200,100.0
2,provider_id,200,0,200,100.0
3,case_description,200,0,200,100.0
4,case_status,200,0,200,100.0

In [21]:
results[1]

        Column Name Total Rows Unique Values Duplicate Values  Uniqueness (%)
0           case_id        200           200                0           100.0
1        patient_id        200           125               75            62.5
2       provider_id        200            91              109            45.5
3  case_description        200           200                0           100.0
4       case_status        200             3              197             1.5

In [22]:
results[2]

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,case_id,200,200,0,100.0
1,patient_id,200,200,0,100.0
2,provider_id,200,200,0,100.0
3,case_description,200,200,0,100.0
4,case_status,200,200,0,100.0