In [1]:
import sys
sys.path.append('data_quality_doctor')

from data_doctor import DataDoctor

In [2]:
list(dir(DataDoctor))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'assess_completeness',
 'assess_consistency',
 'assess_uniqueness',
 'assess_validity',
 'clean_column_names',
 'configure_quality_check',
 'evaluate_data_quality',
 'find_critical_elements',
 'is_pii',
 'read_all_structured_files',
 'read_data_quality_template',
 'similar']

In [3]:
data_file_path = 'data/case_allocations.csv'
template_file_path = 'data/data_quality_checks_template.xlsx'

# Create an instance of DataDoctor
data_doctor = DataDoctor()

# Check if the template file exists, and create if it doesn't
data_doctor.configure_quality_check(data_file_path, template_file_path)

# Evaluate data quality based on the template
results = data_doctor.evaluate_data_quality(data_file_path, template_file_path)

Error adjusting width for column B: object of type 'NoneType' has no len()
Error adjusting width for column C: object of type 'NoneType' has no len()
Error adjusting width for column D: object of type 'NoneType' has no len()
Error adjusting width for column E: object of type 'NoneType' has no len()
Error adjusting width for column F: object of type 'NoneType' has no len()
Error adjusting width for column G: object of type 'NoneType' has no len()
Error adjusting width for column H: object of type 'NoneType' has no len()
Error adjusting width for column I: object of type 'NoneType' has no len()
Error adjusting width for column J: object of type 'NoneType' has no len()
Error adjusting width for column K: object of type 'NoneType' has no len()
Error adjusting width for column L: object of type 'NoneType' has no len()
Excel file 'data/data_quality_checks_template.xlsx' created successfully with instructions.

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,case_id,N/A,N/A,N/A,Not Assessed
1,patient_id,N/A,N/A,N/A,Not Assessed
2,provider_id,N/A,N/A,N/A,Not Assessed
3,case_description,N/A,N/A,N/A,Not Assessed
4,case_status,N/A,N/A,N/A,Not Assessed

        Column Name Total Rows Unique Values Duplicate Values Uniqueness (%)
0           case_id        N/A           N/A              N/A   Not Assessed
1        patient_id        N/A           N/A              N/A   Not Assessed
2       provider_id        N/A           N/A              N/A   Not Assessed
3  case_description        N/A           N/A              N/A   Not Assessed
4       case_status        N/A           N/A              N/A   Not Assessed

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,case_id,N/A,N/A,N/A,Not Assessed
1,patient_id,N/A,N/A,N/A,Not Assessed
2,provider_id,N/A,N/A,N/A,Not Assessed
3,case_description,N/A,N/A,N/A,Not Assessed
4,case_status,N/A,N/A,N/A,Not Assessed

        Column Name Total Rows Valid Values Invalid Values  Validity (%)
0           case_id        N/A          N/A            N/A  Not Assessed
1        patient_id        N/A          N/A            N/A  Not Assessed
2       provider_id        N/A          N/A            N/A  Not Assessed
3  case_description        N/A          N/A            N/A  Not Assessed
4       case_status        N/A          N/A            N/A  Not Assessed

Showing individual dataframes for better understanding:

Data Quality Checks Template: is used to order the dataframes

In [4]:
results[0] # Completeness analysis results

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,case_id,N/A,N/A,N/A,Not Assessed
1,patient_id,N/A,N/A,N/A,Not Assessed
2,provider_id,N/A,N/A,N/A,Not Assessed
3,case_description,N/A,N/A,N/A,Not Assessed
4,case_status,N/A,N/A,N/A,Not Assessed

In [5]:
results[1] # Uniqueness analysis results

        Column Name Total Rows Unique Values Duplicate Values Uniqueness (%)
0           case_id        N/A           N/A              N/A   Not Assessed
1        patient_id        N/A           N/A              N/A   Not Assessed
2       provider_id        N/A           N/A              N/A   Not Assessed
3  case_description        N/A           N/A              N/A   Not Assessed
4       case_status        N/A           N/A              N/A   Not Assessed

In [6]:
results[2] # Consistency analysis results

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,case_id,N/A,N/A,N/A,Not Assessed
1,patient_id,N/A,N/A,N/A,Not Assessed
2,provider_id,N/A,N/A,N/A,Not Assessed
3,case_description,N/A,N/A,N/A,Not Assessed
4,case_status,N/A,N/A,N/A,Not Assessed

In [8]:
results[3]

        Column Name Total Rows Valid Values Invalid Values  Validity (%)
0           case_id        N/A          N/A            N/A  Not Assessed
1        patient_id        N/A          N/A            N/A  Not Assessed
2       provider_id        N/A          N/A            N/A  Not Assessed
3  case_description        N/A          N/A            N/A  Not Assessed
4       case_status        N/A          N/A            N/A  Not Assessed