In [1]:
import sys
sys.path.append('data_quality_doctor')

from data_doctor import DataDoctor

In [2]:
list(dir(DataDoctor))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'assess_accuracy',
 'assess_completeness',
 'assess_consistency',
 'assess_uniqueness',
 'assess_validity',
 'clean_column_names',
 'configure_quality_check',
 'display_failing_records',
 'evaluate_data_quality',
 'find_critical_elements',
 'is_pii',
 'read_all_structured_files',
 'read_data_quality_template',
 'similar']

In [3]:
data_file_path = 'data/patients.csv'
template_file_path = 'data/data_quality_checks_template.xlsx'

# Create an instance of DataDoctor
data_doctor = DataDoctor()

# Check if the template file exists, and create if it doesn't
data_doctor.configure_quality_check(data_file_path, template_file_path)

# Evaluate data quality based on the template
results = data_doctor.evaluate_data_quality(data_file_path, template_file_path)

File 'data/data_quality_checks_template.xlsx' already exists. Not overwriting.

/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:410: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  completeness_results = pd.concat([completeness_results, completeness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:424: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  uniqueness_results = pd.concat([uniqueness_results, uniqueness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:440: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consistency_results = pd.concat([consistency_results, consistency_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:463: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  validity_results = pd.concat([validity_results, validity_df], ignore_index=True)

Error in regex pattern '^?\d3?[-.\s]?\d{3}[-.\s]?\d{4}(x\d+)?$' for column 'phone': nothing to repeat at position 1
Error in regex pattern '^?\d3?[-.\s]?\d{3}[-.\s]?\d{4}(x\d+)?$' for column 'phone': nothing to repeat at position 1

/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:480: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  accuracy_results = pd.concat([accuracy_results, accuracy_df], ignore_index=True)

Showing individual dataframes for better understanding:

Data Quality Checks Template: is used to order the dataframes

In [4]:
results[0] # Completeness analysis results

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,patient_id,200,0,200,100.0
1,name,200,0,200,100.0
2,date_of_birth,200,0,200,100.0
3,address,200,0,200,100.0
4,phone,200,0,200,100.0
5,email,200,0,200,100.0
6,assigned_provider_id,200,0,200,100.0
7,assigned_hospital_id,200,80,120,60.0

In [5]:
results[1] # Uniqueness analysis results

,Column Name,Total Rows,Unique Values,Duplicate Values,Uniqueness (%)
0,patient_id,200,200,0,100.0
1,name,200,200,0,100.0
2,assigned_provider_id,200,86,114,43.0
3,assigned_hospital_id,200,10,190,5.0

In [6]:
results[2] # Consistency analysis results

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,patient_id,200,200,0,100.0
1,phone,200,0,200,0.0
2,email,200,200,0,100.0

In [7]:
results[3]  # Validity analysis results

     Column Name Total Rows Valid Values Invalid Values  Validity (%)
0  date_of_birth        200          200              0         100.0

In [8]:
results[4] # Accuracy analysis results

,Column Name,Total Rows,Accurate Values,Inaccurate Values,Accuracy (%)
0,assigned_provider_id,200,43,157,21.5

In [11]:
results[5] # Records that failed the checks and what dimension they failed in

,patient_id,name,date_of_birth,address,phone,email,assigned_provider_id,assigned_hospital_id,Failed Test,Reason
0,PAT1,John Young,1991-04-21,"990 Alexander Port Suite 676\nFostershire, CT ...",001-842-674-1897x331,rachaelfloyd@example.org,P72,NaN,Uniqueness,Duplicate Values
1,PAT2,Vanessa Lopez,1961-08-30,"020 Gary Mission\nLake Kevin, UT 59179",(506)500-7011x081,sandra40@example.org,P27,NaN,Uniqueness,Duplicate Values
2,PAT3,Jennifer Lee,2004-01-28,"0867 Cortez Cape\nEast William, MD 79466",+1-604-808-7381,holmesraymond@example.com,P60,H1,Uniqueness,Duplicate Values
3,PAT4,Shawn Martin,1988-12-22,"025 Patricia Brooks Apt. 382\nWest Alexander, ...",605.210.1717x91969,dhicks@example.com,P83,NaN,Uniqueness,Duplicate Values
4,PAT5,Rhonda Clark,1977-03-09,"78295 Lopez Freeway\nWest Randyport, MH 69823",(233)691-7927x21491,yolanda55@example.org,P31,NaN,Uniqueness,Duplicate Values
...,...,...,...,...,...,...,...,...,...,...
195,PAT196,Tina Medina,1966-09-21,"5338 Cynthia Place Apt. 509\nSouth Ryan, CA 76037",4257229053,panderson@example.net,P45,H3,Uniqueness,Duplicate Values
196,PAT197,Lauren Miller,1948-07-03,02172 Connor Orchard Suite 100\nWest Tammyfurt...,686-950-9409,gonzalessusan@example.net,P81,H3,Uniqueness,Duplicate Values
197,PAT198,Marcus Mercado,1995-02-13,"87544 Julie Haven\nNorth Francisco, TN 18245",001-941-320-4773x392,james43@example.net,P70,H6,Uniqueness,Duplicate Values
198,PAT199,Hannah Rich,1963-12-20,"PSC 3683, Box 2563\nAPO AA 75561",521-866-9051x37252,gravestanya@example.com,P49,H6,Uniqueness,Duplicate Values
199,PAT200,Manuel Stephenson,1953-04-09,"636 Christopher Harbor\nEast Gary, MD 33277",840.987.6898x82143,smiththomas@example.org,P81,H3,Uniqueness,Duplicate Values