In [1]:
import sys
sys.path.append('data_quality_doctor')

from data_doctor import DataDoctor

In [2]:
list(dir(DataDoctor))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'assess_accuracy',
 'assess_completeness',
 'assess_consistency',
 'assess_uniqueness',
 'assess_validity',
 'clean_column_names',
 'configure_quality_check',
 'evaluate_data_quality',
 'find_critical_elements',
 'is_pii',
 'read_all_structured_files',
 'read_data_quality_template',
 'similar']

In [3]:
data_file_path = 'data/patients.csv'
template_file_path = 'data/data_quality_checks_template.xlsx'

# Create an instance of DataDoctor
data_doctor = DataDoctor()

# Check if the template file exists, and create if it doesn't
data_doctor.configure_quality_check(data_file_path, template_file_path)

# Evaluate data quality based on the template
results = data_doctor.evaluate_data_quality(data_file_path, template_file_path)

File 'data/data_quality_checks_template.xlsx' already exists. Not overwriting.

/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:406: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  completeness_results = pd.concat([completeness_results, completeness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:423: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  uniqueness_results = pd.concat([uniqueness_results, uniqueness_df], ignore_index=True)
/workspaces/data_quality_pocs/data_quality_doctor/data_doctor.py:442: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consistency_results = pd.concat([consistency_results, consistency_df], ignore_index=True)

Error in regex pattern '^?\d3?[-.\s]?\d{3}[-.\s]?\d{4}(x\d+)?$' for column 'phone': nothing to repeat at position 1

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,patient_id,200,0,200,100.0
1,name,200,0,200,100.0
2,date_of_birth,200,0,200,100.0
3,address,200,0,200,100.0
4,phone,200,0,200,100.0
5,email,200,0,200,100.0
6,assigned_provider_id,200,0,200,100.0
7,assigned_hospital_id,200,80,120,60.0

,Column Name,Total Rows,Unique Values,Duplicate Values,Uniqueness (%)
0,patient_id,200,200,0,100.0
1,name,200,200,0,100.0
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,N/A,N/A,N/A,Not Assessed
5,email,N/A,N/A,N/A,Not Assessed
6,assigned_provider_id,200,86,114,43.0
7,assigned_hospital_id,200,10,190,5.0

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,patient_id,200,200,0,100.0
1,name,N/A,N/A,N/A,Not Assessed
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,200,0,200,0.0
5,email,200,200,0,100.0
6,assigned_provider_id,N/A,N/A,N/A,Not Assessed
7,assigned_hospital_id,N/A,N/A,N/A,Not Assessed

            Column Name Total Rows Valid Values Invalid Values  Validity (%)
0            patient_id        N/A          N/A            N/A  Not Assessed
1                  name        N/A          N/A            N/A  Not Assessed
2         date_of_birth        200          200              0         100.0
3               address        N/A          N/A            N/A  Not Assessed
4                 phone        N/A          N/A            N/A  Not Assessed
5                 email        N/A          N/A            N/A  Not Assessed
6  assigned_provider_id        N/A          N/A            N/A  Not Assessed
7  assigned_hospital_id        N/A          N/A            N/A  Not Assessed

,Column Name,Total Rows,Accurate Values,Inaccurate Values,Accuracy (%)
0,patient_id,N/A,N/A,N/A,Not Assessed
1,name,N/A,N/A,N/A,Not Assessed
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,N/A,N/A,N/A,Not Assessed
5,email,N/A,N/A,N/A,Not Assessed
6,assigned_provider_id,200,43,157,21.5
7,assigned_hospital_id,N/A,N/A,N/A,Not Assessed

Showing individual dataframes for better understanding:

Data Quality Checks Template: is used to order the dataframes

In [4]:
results[0] # Completeness analysis results

,Column Name,Total Rows,Missing Values,Non-Missing Values,Completeness (%)
0,patient_id,200,0,200,100.0
1,name,200,0,200,100.0
2,date_of_birth,200,0,200,100.0
3,address,200,0,200,100.0
4,phone,200,0,200,100.0
5,email,200,0,200,100.0
6,assigned_provider_id,200,0,200,100.0
7,assigned_hospital_id,200,80,120,60.0

In [5]:
results[1] # Uniqueness analysis results

,Column Name,Total Rows,Unique Values,Duplicate Values,Uniqueness (%)
0,patient_id,200,200,0,100.0
1,name,200,200,0,100.0
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,N/A,N/A,N/A,Not Assessed
5,email,N/A,N/A,N/A,Not Assessed
6,assigned_provider_id,200,86,114,43.0
7,assigned_hospital_id,200,10,190,5.0

In [6]:
results[2] # Consistency analysis results

,Column Name,Total Rows,Consistent Values,Inconsistent Values,Consistency (%)
0,patient_id,200,200,0,100.0
1,name,N/A,N/A,N/A,Not Assessed
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,200,0,200,0.0
5,email,200,200,0,100.0
6,assigned_provider_id,N/A,N/A,N/A,Not Assessed
7,assigned_hospital_id,N/A,N/A,N/A,Not Assessed

In [7]:
results[3]  # Validity analysis results

            Column Name Total Rows Valid Values Invalid Values  Validity (%)
0            patient_id        N/A          N/A            N/A  Not Assessed
1                  name        N/A          N/A            N/A  Not Assessed
2         date_of_birth        200          200              0         100.0
3               address        N/A          N/A            N/A  Not Assessed
4                 phone        N/A          N/A            N/A  Not Assessed
5                 email        N/A          N/A            N/A  Not Assessed
6  assigned_provider_id        N/A          N/A            N/A  Not Assessed
7  assigned_hospital_id        N/A          N/A            N/A  Not Assessed

In [8]:
results[4] # Accuracy analysis results

,Column Name,Total Rows,Accurate Values,Inaccurate Values,Accuracy (%)
0,patient_id,N/A,N/A,N/A,Not Assessed
1,name,N/A,N/A,N/A,Not Assessed
2,date_of_birth,N/A,N/A,N/A,Not Assessed
3,address,N/A,N/A,N/A,Not Assessed
4,phone,N/A,N/A,N/A,Not Assessed
5,email,N/A,N/A,N/A,Not Assessed
6,assigned_provider_id,200,43,157,21.5
7,assigned_hospital_id,N/A,N/A,N/A,Not Assessed